@use '@angular/material' as mat;

@include mat.core();

$my-typography: mat.define-typography-config();

$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$gray-palette, 900),
    accent: mat.define-palette(mat.$orange-palette, 300),
    warn: mat.define-palette(mat.$orange-palette, 900)
    ),
    typography: $my-typography,
));

@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($my-typography);