<mat-toolbar color="primary" class="mat-h1">
    <span>Restaurantes Locales</span>
    <span class="example-spacer"></span>
    <small>
        <a mat-button href="https://github.com/Deg42/Angular-Local-Restaurants">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bug_report"></mat-icon>
        </a>
    </small>
</mat-toolbar>
<div class="card-container">
    <mat-card class="restaurant-card" *ngFor="let restaurant of restaurants">
        <mat-card-header>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
            <mat-card-subtitle>{{restaurant.address}}</mat-card-subtitle>
        </mat-card-header>
        <a class="card-image-link" target="_blank" href="{{restaurant.url}}">
            <img mat-card-image class="card-image" [src]="restaurant.image" alt="Restaurant Photo">
            <a class="card-image-text">CARTA</a>
        </a>
        <mat-card-actions align="end">
            <a mat-button href="tel:{{restaurant.tel}}">TELÉFONO</a>
        </mat-card-actions>
    </mat-card>
</div>